* {
    /* border: 1px solid black; */
    font-family: Sans-Serif;
}
body {
    background-color: rgb(234,232,232); 
}
.container { 
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 5%;
} 
p {
    text-align: center;
}
.signup {
    border-radius: 5px;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
} 
.button{
    margin: 5px;
    padding: 5px;
    width: 300px;
    border-radius: 20px;
    border: 1px solid gray;
    background-color: white;
    padding: 10px;
}
button:hover
{
	cursor: pointer;
}
.block {
    margin: 0px;
    padding: 5px;
    width: 300px;
}
.tnc {
    padding: 0px;
    text-align: center;
    font-size: 12px;
}
.or {
    display: flex;
}
.signin {
    text-decoration: none;
}
.signin:hover {
    text-decoration: underline;
    color: rgba(10, 10, 153, 0.831);
}
.pol {
    text-decoration: none;
    color: rgba(10, 10, 153, 0.831);
}
.pol:hover {
    text-decoration: underline;
    color: rgba(10, 10, 153, 0.831);
}
.form {
    color: rgb(13, 154, 154);
    font-size: 14px;
}
span {
    color: rgb(13, 154, 154);
    font-size: 12px;
}
.foot
{
    background-color: white;
    margin-top: 15px;
    padding-bottom: 15px;
    padding-top: 0px;
}
.foot ul
{
    display: flex;
    padding-left: 100px;
    list-style: none;
}
.foot ul li
{
    padding-left: 10px;
    margin: 1%;
    font-size: 12px;
    color:rgba(180, 191, 193, 0.498);
}
.foot ul li a
{
    text-decoration: none;
    color: black;
}
.foot ul li a:hover
{
    text-decoration: underline;
    color: rgba(41, 41, 191, 0.874);
}